* {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 29px 20px;
  }

  .logo {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #6070ff;
    text-decoration: none;
    margin: 10px 12px;
  }

  .nav-items li {
    list-style-type: none;
    display: inline;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
    padding: 10px 30px 12px 12px;
  }

  .title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
    padding: 150px 170px 20px 90px;
  }

  .paragraph {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
    padding-left: 90px;
  }

  .connect {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    padding-left: 90px;
    padding-top: 20px;
  }

  .icons li {
    padding-left: 90px;
    padding-top: 10px;
  }

  .introduction {
    background-image: url("imgs/Header\ bg.png");
    background-repeat: no-repeat;
    border-radius: 0 0 0 60px;
    padding: 30px;
  }

  h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  .card1 {
    display: flex;
    background-color: #fff;
    padding: 20px;
    margin: 150px 150px 30px 150px;
    border: 1px solid #dfe1e6;
    border-radius: 24px;
  }

  .card2-multi {
    display: flex;
    background-color: #fff;
    padding: 20px;
    margin: 150px 150px 30px 150px;
    border: 1px solid #dfe1e6;
    border-radius: 24px;
  }

  .work {
    padding: 20px;
    background: #e5e5e5;
  }

  .description {
    padding-left: 27px;
    padding-top: 40px;
  }

  #descr {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #344563;
  }

  .description1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #6b778c;
  }

  .circle {
    list-style-type: none;
    display: flex;
    gap: 10px;
  }

  .circle li {
    padding-left: 5px;
    padding-top: 10px;
  }

  .underline {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    padding-top: 26px;
  }

  .works-image {
    height: 100%;
    width: 100%;
  }

  .lang {
    list-style-type: none;
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #6070ff;
    padding-top: 20px;
    gap: 20px;
  }

  .lang li {
    background-color: #ebebff;
    border-radius: 8px;
    padding: 7px 8px 7px 8px;
  }

  button {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #396df2;
    box-sizing: border-box;
    padding: 12px 18px;
    background: #fff;
    border: 1px solid #435c9d;
    border-radius: 14px;
    margin-top: 30px;
    transition: 0.036s;
  }

  button:hover {
    background-color: #6070ff;
    color: #fff;
  }

  .color {
    background-color: #396df2;
    color: #fff;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto;
    margin-bottom: 36px;
  }

  .about-card {
    display: flex;
  }

  .about {
    border-radius: 0 60px 0 0;
    padding: 30px;
  }

  .ME {
    margin-left: 70px;
  }

  .languages {
    margin: 150px 0 70px 30px;
  }

  h5 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #344563;
  }

  .fitems {
    display: flex;
    gap: 3%;
  }

  .fitems li {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #253858;
  }

  .item-1 li {
    background: #f7f7f9;
    border-radius: 8px;
    width: 122px;
    height: 90px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 7px 0 10px 9px;
  }

  .photo li {
    gap: 90%;
  }

  .photo-1 li {
    gap: 90%;
    padding-top: 40px;
    padding-bottom: 10px;
  }

  .photo-2 li {
    gap: 100%;
    padding-top: 40px;
    padding-bottom: 10px;
  }

  .languages ul li {
    list-style-type: none;
    display: flex;
  }

  .contact-me {
    display: flex;
    background-image: url("imgs/contact\ form\ background\ shapes.png");
    background-color: #6070ff;
    color: #fff;
    align-items: center;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 103px;
    padding-bottom: 45px;
    border-radius: 60px 0 0 0;
    text-align: center;
  }

  .contact-title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #fff;
  }

  .contact-para {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #ebebff;
    margin: 20px 300px 20px 300px;
  }

  input[type=text] {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    border-radius: 8px;
    border: #fff;
    margin: 8px 0;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #172b4d;
  }

  input[type=email] {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    border-radius: 8px;
    border: #fff;
    margin: 8px 0;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #172b4d;
  }

  textarea {
    width: 100%;
    border-radius: 8px;
    border: #fff;
    padding: 10px 16px;
    box-sizing: border-box;
  }
}
